<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>小舍拼团系统微营销版管理中心 - 批量修改订单 </title>
<meta name="robots" content="noindex, nofollow">
    <style type="text/css">
        .upload-table{
            height:auto;
        }
        .upload-table-tr{
          height:60px;
          padding:10px 0;
        }
        .table-button{
            padding:3px 23px;
            background: #ececec;
            border:1px solid #666;
            color:#333; 
        }
        .table-file-a{
            color:#666;
        }
    </style>
</head>
<body style="background-color:#001E54;">
<!-- start goods form -->
<div class="con_box">
<div class="main-div">
    <!-- tab body -->
    <div id="tabbody-div">
      <form enctype="multipart/form-data" action="" method="post" name="theForm" >
        <table width="1000" id="general-table" class="upload-table" align="center"style="margin:135px auto 0;background:#fff;border:1px solid #ccc;border-collapse:collapse;">       
          <tr class="upload-table-tr">
            <td class="label" width="50%">上传文件：</td>
            <td width="50%">
              <a href="javascript:;" class="table-file-a">
                <input type="file" name="file" size="35" style="" />  
              </a>
            </td>
          </tr>         
        <tr class="upload-table-tr">
            <td></td>
            <td>
          <input type="submit" name="submit" value=" 确定 " class="button table-button" />
        <!-- <a href="../Area/order_temp.csv">模板下载</a></td> -->
        </table>
      </form>
    </div>
</div>
</div>
<!-- end goods form -->
</body>
</html>