html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline }
html { line-height: 1 }
ol, ul, li { list-style: none; margin:0; padding:0; }
table { border-collapse: collapse; border-spacing: 0 }
caption, th, td { text-align: left; font-weight: normal; vertical-align: middle }
q, blockquote { quotes: none }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none }
a img { border: none }
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block }
.swiper-container { margin: 0 auto; position: relative; overflow: hidden; -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; -ms-backface-visibility: hidden; -o-backface-visibility: hidden; backface-visibility: hidden; z-index: 1 }
.swiper-wrapper { position: relative; width: 100%; -webkit-transition-property: -webkit-transform, left, top; -webkit-transition-duration: 0s; -webkit-transform: translate3d(0px, 0, 0); -webkit-transition-timing-function: ease; -moz-transition-property: -moz-transform, left, top; -moz-transition-duration: 0s; -moz-transform: translate3d(0px, 0, 0); -moz-transition-timing-function: ease; -o-transition-property: -o-transform, left, top; -o-transition-duration: 0s; -o-transform: translate3d(0px, 0, 0); -o-transition-timing-function: ease; -o-transform: translate(0px, 0px); -ms-transition-property: -ms-transform, left, top; -ms-transition-duration: 0s; -ms-transform: translate3d(0px, 0, 0); -ms-transition-timing-function: ease; transition-property: transform, left, top; transition-duration: 0s; transform: translate3d(0px, 0, 0); transition-timing-function: ease; -webkit-box-sizing: content-box; -moz-box-sizing: content-box; box-sizing: content-box }
.swiper-free-mode>.swiper-wrapper { -webkit-transition-timing-function: ease-out; -moz-transition-timing-function: ease-out; -ms-transition-timing-function: ease-out; -o-transition-timing-function: ease-out; transition-timing-function: ease-out; margin: 0 auto }
.swiper-slide { float: left }
.swiper-wp8-horizontal { -ms-touch-action: pan-y }
.swiper-wp8-vertical { -ms-touch-action: pan-x }
.swiper-container, .swiper-slide { width: 400px; height: 400px }
.swiper-container .swiper-image, .swiper-slide .swiper-image { width: 400px; height: 400px; text-align: center; background: url('http://static.koudaitong.com/v2/shop/images/icons-retina/slash.png') repeat scroll 0 0; background-size:10px 12px; display: table-cell; vertical-align: middle }

.swiper-container img, .swiper-slide img { width: auto; height: auto; max-width: 400px; max-height: 400px }
.swiper-pagination { margin: 10px 0 0 }
.swiper-pagination-list { white-space: nowrap; display: inline-block; width: 360px; overflow: hidden; position: relative; padding-top: 5px }
.swiper-pagination-switch { position: relative; display: inline-block; width: 44px; height: 44px; border: 3px solid #fff; cursor: pointer; position: relative; margin-right: 6px }
.swiper-active-switch { border-color: #ff6600 }
.swiper-active-switch .swiper-arrow { display: inline-block }
.swiper-prev, .swiper-next { cursor: pointer }
.swiper-arrow { width: 0; height: 0; border-style: solid; border-width: 0 5px 5px 5px; border-color: transparent transparent #ff6600 transparent; line-height: 0px; _border-color: #000000 #000000 #ff6600 #000000; _filter:progid:DXImageTransform.Microsoft.Chroma(color='#000000');
position: absolute; left: 50%; margin-left: -5px; top: -8px; display: none }
.popover { position: absolute; top: 0; left: 0; z-index: 10; border: 1px solid #b3b3b3; padding: 4px; background-color: #e5e5e5; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; line-height: 1 }
.popover-inner { background-color: #fff; padding: 25px 15px 15px }
.popover-goods, .popover-weixin { display: none; text-align: center; width: 230px }
.popover-goods .title, .popover-weixin .title { color: #333; font-size: 16px; font-weight: 700; margin-bottom: 4px }
.popover-goods .title, .popover-weixin .title { margin-bottom: 10px }
.popover-goods .sub-title, .popover-weixin .sub-title { color: #333; font-size: 12px; margin-bottom: 15px }
.popover-goods .qrcode-img, .popover-weixin .qrcode-img { width: 200px; height: 200px }
.popover-goods .title { text-align: left; line-height: 1.5; margin: 0 10px 10px }
.popover-goods .icon-weixin { margin-right: 15px }
.popover-share { display: none; width: 507px }
.popover-share .title { color: #333; font-size: 16px; font-weight: 700; margin-bottom: 4px }
.popover-share .qrcode-img { width: 200px; height: 200px }
.popover-share .title { margin-bottom: 25px }
.popover-share .popover-qrcode { text-align: center; width: 200px; margin-right: 25px; padding-top: 25px }
.popover-share .popover-share-info { border-left: 1px solid #e6e6e6; padding: 20px 0 20px 25px }
.popover-share .popover-share-info p { font-size: 12px; margin-bottom: 10px }
body { -webkit-backface-visibility: hidden }
.animated { -webkit-animation-duration: 1s; -moz-animation-duration: 1s; -o-animation-duration: 1s; animation-duration: 1s; -webkit-animation-fill-mode: both; -moz-animation-fill-mode: both; -o-animation-fill-mode: both; animation-fill-mode: both }
.animated.hinge { -webkit-animation-duration: 2s; -moz-animation-duration: 2s; -o-animation-duration: 2s; animation-duration: 2s }
@-webkit-keyframes shake { 0%, 100% {
-webkit-transform:translateX(0)
}
10%, 30%, 50%, 70%, 90% {
-webkit-transform:translateX(-10px)
}
20%, 40%, 60%, 80% {
-webkit-transform:translateX(10px)
}
}
@-moz-keyframes shake { 0%, 100% {
-moz-transform:translateX(0)
}
10%, 30%, 50%, 70%, 90% {
-moz-transform:translateX(-10px)
}
20%, 40%, 60%, 80% {
-moz-transform:translateX(10px)
}
}
@-o-keyframes shake { 0%, 100% {
-o-transform:translateX(0)
}
10%, 30%, 50%, 70%, 90% {
-o-transform:translateX(-10px)
}
20%, 40%, 60%, 80% {
-o-transform:translateX(10px)
}
}
@keyframes shake { 0%, 100% {
transform:translateX(0)
}
10%, 30%, 50%, 70%, 90% {
transform:translateX(-10px)
}
20%, 40%, 60%, 80% {
transform:translateX(10px)
}
}
.shake { -webkit-animation-name: shake; -moz-animation-name: shake; -o-animation-name: shake; animation-name: shake }
.pagination { text-align: center; color: #666;margin-bottom: 20px; }
.pagination-num, .pagination-prev, .pagination-next { display: inline-block; width: 40px; height: 40px; line-height: 40px; border: 1px solid #dfdfdf; color: #666; background-color: #fff }
.pagination-num:hover, .pagination-prev:hover, .pagination-next:hover { text-decoration: underline }
.pagination .active { background-color: #efefef }
.pagination-prev, .pagination-next { width: 70px }
.pagination-next { margin-left: 10px }
.pagination-prev { margin-right: 10px }
.pull-left { float: left; margin-left: 10px; }
.pull-right { float: right }
.clearfix { *zoom:1}
.clearfix:after { content: ""; display: table; clear: both }
.hide { display: none }
a { text-decoration: none }
html { font-family: tahoma, arial, \5FAE\8F6F\96C5\9ED1, sans-serif }
body { background-color: #f2f2f2 }
.container { width: 1160px; margin: 0 auto }
.icon-wxv { display: inline-block; height: 16px; width: 16px; background-image: url('../images/icons-retina.png'); background-position: 0 -450px; background-repeat: no-repeat;background-size:180px auto }
.icon-weixin { display: inline-block; height: 48px; width: 55px; background-image: url('../images/icons-retina.png'); background-position: 0 -386px; background-repeat: no-repeat;background-size:180px auto }
.icon-buybutton { display: inline-block; height: 50px; width: 180px; background-image: url('../images/icons-retina.png'); background-position: 0 -32px; background-repeat: no-repeat;background-size:180px auto }
.icon-wxpay { display: inline-block; height: 16px; width: 16px; background-image: url('../images/icons-retina.png'); background-position: 0 -434px; background-repeat: no-repeat;background-size:180px auto }
.icon-bankpay { display: inline-block; height: 16px; width: 16px; background-image: url('../images/icons-retina.png'); background-position: 0 -16px; background-repeat: no-repeat;background-size:180px auto }
.icon-alipay { display: inline-block; height: 16px; width: 16px; background-image: url('../images/icons-retina.png'); background-position: 0 0; background-repeat: no-repeat;background-size:180px auto }
.icon-codpay { display: inline-block; height: 16px; width: 16px; background-image: url('../images/icons-retina.png'); background-position: 0 -82px; background-repeat: no-repeat;background-size:180px auto }
.icon-left { display: inline-block; height: 50px; width: 15px; background-image: url('../images/icons-retina.png'); background-position: 0 -148px; background-repeat: no-repeat;background-size:180px auto }
.icon-right { display: inline-block; height: 50px; width: 15px; background-image: url('../images/icons-retina.png'); background-position: 0 -326px; background-repeat: no-repeat;background-size:180px auto }
.icon-mascot { display: inline-block; height: 128px; width: 128px; background-image:url('../images/icons-retina.png'); background-position: 0 -198px; background-repeat: no-repeat; -moz-background-size:180px auto;-o-background-size:180px auto;-webkit-background-size:180px auto;background-size:180px auto }
.icon-goods { display: inline-block; height: 50px; width: 180px; background-image: url('../images/icons-retina.png'); background-position: 0 -98px; background-repeat: no-repeat;background-size:180px auto }
.btn-share { display: inline-block; background-color: #f8f8f8; color: #666; height: 40px; padding: 0 15px; line-height: 40px; text-align: center; font-size: 14px }
.btn-buy { display: inline-block; background-color: #ff6600; color: #fff; height: 35px; line-height: 35px; text-align: center; font-size: 14px; padding: 0 15px; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px }
.ui-btn { display: inline-block; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; width: 140px; height: 40px; color: #fff; font-size: 16px; line-height: 40px; background-color: #ff7700; text-align: center }
.arrow { width: 0; height: 0; border-style: solid; border-width: 8px 8px 0 8px; border-color: #1f292c transparent transparent transparent; line-height: 0px; _border-color: #1f292c #000000 #000000 #000000; _filter:progid:DXImageTransform.Microsoft.Chroma(color='#000000')
}
.headerbar { background-color: #efefef; border-bottom: 1px solid #c1c1c1 }
.headerbar ul, .headerbar li { display: inline-block; *display:inline;
*zoom:1;
margin: 0; padding: 0; list-style: none }
.headerbar a { display: block; line-height: 28px; text-align: center; padding: 0 12px; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; color: #333 }
.headerbar a.active { color: #fff; background: #798499 }
.headerbar .headerbar-wrap { position: relative; width: 760px; margin: 0 auto; text-align: center }
.headerbar .headerbar-preview { padding: 6px }
.headerbar .headerbar-reedit { position: absolute; top: 0; right: 0; padding: 5px 11px 5px 0 }
.headerbar .headerbar-reedit a { background: #fff; color: #414141; border: 1px solid #ccc; padding: 0 20px }
.header { background-color: #1f292c; height: 50px; line-height: 50px; position: relative }
.header a { color: #f7f7f7; display: inline-block; height: 50px }
.header .logo { font-size: 18px; float: left; margin-right:50px; }
.header .smaller-title { font-size: 12px; margin-left: 10px }
.header .nav { font-size: 14px; display: inline-block;float: left; width: 900px; height:50px; overflow: hidden;}
.header .nav li { display: inline-block; padding:0 15px; }
.header .nav .separate { font-size: 12px; color: #999; margin: 0 10px }
.header .nav li.cur { background-color:#f60; }
.header .nav li.cur a { color:#fff; }
.header .icon-wxv { vertical-align: middle }
.main .content { width: 1080px; padding: 40px float: left; background-color: #fff }
.main .content .goods-summary { margin: 30px auto; }
.main .content .goods-image { width: 400px }
.main .content .goods-store { width: 200px; margin-left: 20px }
.main .content .goods-info { width: 400px; margin-left: 40px }
.main .content .goods-title { color: #333; font-size: 16px; font-weight: 700; line-height: 1.5; margin: 15px 0 }
.main .content .goods-price { margin: 25px 0 }
.main .content .goods-current-price { color: #f60; font-size: 30px; margin-right: 10px }
.main .content .goods-activity { background-color: #E00; color: #FFF; font-size: 14px; padding: 3px; vertical-align: middle; margin-top: -2px; display: inline-block; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px }
.main .content .goods-rmb { font-size: 24px }
.main .content .goods-origin-price { font-size: 12px; color: #999999; margin-top: 14px }
.main .content .goods-origin-old-price { margin-right: 5px }
.main .content .goods-meta { width: 100%; font-size: 12px; background-color: #f8f8f8; padding: 20px; color: #333; margin-bottom: 35px }
.main .content .goods-meta td { padding: 15px; word-break: break-all }
.main .content .goods-meta .last-child td { padding-bottom: 20px }
.main .content .goods-meta .first-child td { padding-top: 20px }
.main .content .goods-meta-name { color: #999; width: 80px; padding-left: 20px }
.main .content .goods-action { margin-bottom: 30px }
.main .content .goods-buy-link { text-indent: -999999px }
.main .content .goods-share-link { margin-top: 10px; margin-left: 20px }
.main .content .goods-payment { font-size: 12px }
.main .content .goods-payment dt { float: left; color: #999; margin-right: 20px; line-height: 16px }
.main .content .goods-payment dd { display: inline-block }
.main .content .goods-payment dd a { color: #666; margin-right: 20px; line-height: 16px; cursor: default }
.main .content .goods-payment dd a span { margin: 0 5px 0 0; float: left }
.main .content .goods-detail { margin-bottom: 50px }
.main .content .goods-detail .title { font-size: 14px; font-weight: 700; color: #333; background-color: #f8f8f8; border-top: 1px solid #e6e6e6; padding: 12px 15px; margin-bottom: 25px }
.main .sidebar { width: 180px; padding: 20px; float: right; }
.main .sidebar .shop-card { margin-bottom: 25px }
.main .sidebar .shop-card .shop-image { position: relative; width: 60px; height: 60px; border: 2px solid #e5e5e5; margin-right: 15px }
.main .sidebar .shop-card .shop-image img { width: 60px; height: 60px }
.main .sidebar .shop-card .shop-image .icon-wxv { position: absolute; right: -5px; bottom: -5px }
.main .sidebar .shop-card .shop-link { width: 81px }
.main .sidebar .shop-card .shop-name { display: inline-block; line-height: 1.3; font-size: 12px; color: #333; padding: 10px 0; margin: 0 }
.main .sidebar .hot-goods .section-title { color: #666; font-size: 12px; text-align: center; margin-bottom: 20px; background: url('../images/slash.png') repeat-x scroll 0 50%; background-size:10px 12px; height: 12px; width: 100% }
.main .sidebar .hot-goods .section-title span { background-color: #f2f2f2; padding: 0 5px }
.main .sidebar .hot-goods li { margin-bottom: 20px }
.main .sidebar .hot-goods li a { color: #666666; font-size: 12px; display: block }
.main .sidebar .hot-goods li a .image { background-color: #fff; position: relative; width: 160px; height: 160px }
.main .sidebar .hot-goods li a img { position: absolute; left: 0; right: 0; bottom: 0; top: 0; margin: auto; width: auto; height: auto; max-width: 160px; max-height: 160px }
.main .sidebar .hot-goods li .title { line-height: 1.5em; margin: 10px 0 0 }
.main .sidebar .hot-goods .price { color: #f60 }
.main .sidebar .btn-add-wx { width: 80px; height: 26px; line-height: 26px; font-size: 12px; color: #fff; background-color: #5dab13; display: inline-block; text-align: center; -moz-border-radius: 1px; -webkit-border-radius: 1px; border-radius: 1px }
.footer { margin: 35px 0; text-align: center; font-size: 12px; color: #999999 }
.footer .wrap { width: 940px }
.footer a { color: #999999 }
.goods-info-fixed { border: 1px solid #d9d9d9; border-top: 0 none; background-color: #fff; height: 50px; line-height: 50px; position: fixed; z-index: 10; top: -1000px; width: 940px; -moz-box-shadow: rgba(50,50,50,0.2) 0 1px 4px 0; -webkit-box-shadow: rgba(50,50,50,0.2) 0 1px 4px 0; box-shadow: rgba(50,50,50,0.2) 0 1px 4px 0; opacity: 0; -moz-transition-property: opacity; -o-transition-property: opacity; -webkit-transition-property: opacity; transition-property: opacity; -moz-transition-duration: 0.2s; -o-transition-duration: 0.2s; -webkit-transition-duration: 0.2s; transition-duration: 0.2s; -moz-transition-timing-function: ease-in; -o-transition-timing-function: ease-in; -webkit-transition-timing-function: ease-in; transition-timing-function: ease-in }
.goods-info-fixed.fixed { opacity: 1; top: 0 }
.goods-info-fixed .goods-info-link { padding-right: 20px; width: 250px; text-align: right; white-space: nowrap }
.goods-info-fixed .goods-info-link .btn-buy, .goods-info-fixed .goods-info-link .btn-share { padding: 0 10px }
.goods-info-fixed .goods-info-title { padding-left: 20px; color: #333333; width: 500px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; font-size: 14px }
.goods-info-fixed .goods-share-link { height: 35px; line-height: 35px }
.goods-info-fixed .popover-goods { top: 60px; left: auto; right: 0 }
.goods-info-fixed .popover-share { top: 60px; left: auto; right: 0 }
.shop-info { border-top: 2px solid #e6e6e6; padding-top: 20px }
.shop-info .container { position: relative }
.shop-info .arrow { position: absolute; top: -22px; left: 75px }
.shop-info .shop-qrcode { width: 175px; height: 175px; margin-right: 30px }
.shop-info .shop-desc { padding-top: 20px; width: 500px }
.shop-info .shop-desc .wxv { color: #f60 }
.shop-info .shop-desc .icon-wxv { margin-right: 5px; vertical-align: text-bottom }
.shop-info .shop-desc dt { color: #333; font-size: 16px; margin-bottom: 10px; height: 18px; line-height: 18px; font-weight: 700 }
.shop-info .shop-desc dd { font-size: 12px; color: #666; line-height: 1.5em; margin-bottom: 30px }
.shop-info-fixed { display: none; position: absolute; top: 50px; left: 0; z-index: 10; margin: 0; padding: 20px 0; border-top: 0 none; width: 100%; background-color: #f7f7f7; -moz-box-shadow: rgba(50,50,50,0.75) 0 5px 10px 0; -webkit-box-shadow: rgba(50,50,50,0.75) 0 5px 10px 0; box-shadow: rgba(50,50,50,0.75) 0 5px 10px 0 }

.goods-list { margin-top: 30px }
.goods-list li { width: 275px; height: 375px; float: left; margin: 0 20px 20px 0; background-color: #fff }
.goods-list li:nth-child(4n){ margin-right:0; }
.goods-list li a { display: block; width: 275px; height: 375px; font-size: 12px }
.goods-list li .image { width: 275px; height: 275px; background: url('../images/slash.png') repeat scroll 0 0; background-size:10px 12px; position: relative }
.goods-list li .image img { position: absolute; left: 0; right: 0; top: 0; bottom: 0; margin: auto; width: auto; height: auto; max-width: 275px; max-height: 275px }
.goods-list li .title { color: #333333; padding: 20px 15px 0; margin-bottom: 10px; line-height: 1.5em; height: 38px; overflow: hidden }
.goods-list li .price { color: #f60; padding: 0 0 0 15px }
.goods-list li .origin-price { color: #666666 }
.goods-list .last { margin-right: 0 }

.rich-text { font-size: 16px; color: #333; line-height: 1.4; overflow: hidden; text-align: left; word-break: break-all; word-wrap: break-word }
.rich-text img+br { display: block; padding: 4px 0; content: ' ' }
.rich-text p { margin: 0 0 1em 0 }
.rich-text a { color: #09f }
.rich-text img { background: none; max-width: 100% !important; min-height: 1px; width: auto !important; height: auto !important; vertical-align: middle }
.rich-text ul, .rich-text ol { list-style-position: inside; padding-left: 0 }
.rich-text blockquote { padding: 0 0 0 15px; margin: 0 0 18px; border-left: 5px solid #EEE }
.rich-text em { font-style: italic }
.rich-text .selectTdClass { background-color: #edf5fa !important }
.rich-text table.noBorderTable td, .rich-text table.noBorderTable th, .rich-text table.noBorderTable caption { border: 1px dashed #ddd !important }
.rich-text table { margin-bottom: 10px; border-collapse: collapse; display: table }
.rich-text td, .rich-text th { padding: 5px 10px; border: 1px solid #DDD }
.rich-text caption { border: 1px dashed #DDD; border-bottom: 0; padding: 3px; text-align: center }
.rich-text th { border-top: 2px solid #BBB; background: #F7F7F7 }
.rich-text .ue-table-interlace-color-single { background-color: #fcfcfc }
.rich-text .ue-table-interlace-color-double { background-color: #f7faff }
.rich-text td p { margin: 0; padding: 0 }
.ui-goods-dispear { background-color: #fff; height: 160px; margin-top: 30px }
.ui-goods-dispear-mascot { height: 160px; width: 480px }
.ui-goods-dispear-mascot span { margin-top: 16px; margin-left: 35px; margin-right: 30px }
.ui-goods-dispear-detail { width: 505px; text-align: right; margin-right: 15px }
.ui-goods-dispear-detail img { margin: 16px 0 0 10px }
.ui-goods-dispear-img .qrcode-img { width: 128px; height: 128px }
.ui-goods-dispear-msg { position: relative; top: 65px; font-size: 12px; color: #333333; line-height: 1.5 }
.ui-goods-dispear-msg strong { font-size: 14px; font-weight: 700 }
.ui-goods-dispear-mascot-msg { position: relative; top: 58px; line-height: 1.5; color: #333; font-size: 12px }
.ui-goods-dispear-mascot-msg strong { font-size: 20px; font-weight: 700 }
.ui-goods-qrcode { width: 200px; height: 200px }



.spec-preview{width:398px;height:398px;border:1px solid #DFDFDF;}
.spec-preview img { width: auto;height: auto; max-width: 398px; max-height: 398px; }
.spec-scroll{clear:both;margin-top:5px;width:400px;}
.spec-scroll .items{float:left;position:relative;width:400px;height:56px;overflow:hidden;}
.spec-scroll .items ul{position:absolute;width:999999px;height:56px;}
.spec-scroll .items ul li{float:left;width:64px;text-align:center;}
.spec-scroll .items ul li img{border:1px solid #CCC;padding:2px;width:50px;height:50px;}
.spec-scroll .items ul li img:hover{border:2px solid #FF6600;padding:1px;}