<!-- $Id: about_us.htm 16654 2009-09-09 10:29:24Z liuhui $ -->
{include file="pageheader.htm"}
<div class="list-div">
<table cellspacing='1' cellpadding='3'>
  <tr>
    <th colspan="2" class="group-title">{$lang.team_member}</th>
  </tr>
  <tr>
    <td width="20%" class="first-cell">{$lang.director}</td><td>
    齐永东
    </td>
  </tr>
  <tr>
    <td class="first-cell">{$lang.programmer}</td><td>

      齐永东，罗於冬，庞斌，郑健康
    </td>
  </tr>
  <tr>
    <td class="first-cell">{$lang.ui_designer}</td><td>
      胡俊，庞斌
    </td>
  </tr>
  <tr>
    <td class="first-cell">测试/客服</td><td>
      付美娟，王宁
    </td>
  </tr>

</table>
</div>
<br />
<div class="list-div">
<table cellspacing='1' cellpadding='3'>
  <tr>
    <th colspan="2" class="group-title">{$lang.official_site}</th>
  </tr>
  <tr>
    <td class="first-cell" width="20%">{$lang.site_url}</td><td><a href="http://www.baidu.com" target="_blank">http://www.baidu.com</a></td>
  </tr>
  <tr>
    <td class="first-cell" width="20%">{$lang.support_forum}</td><td><a href="http://www.xaphp.com" target="_blank">http://www.xaphp.com</a></td>
  </tr>
</table>
</div>
{literal}
<script type="Text/Javascript" language="JavaScript">
<!--
onload = function()
{
    // 开始检查订单
    startCheckOrder();
}
//-->
</script>
{/literal}
{include file="pagefooter.htm"}