*{ word-wrap:break-word; outline:none; }
body{ overflow-x: hidden; background:url(../images/bg.gif); }
body, td, input, textarea, select, button{ color:#555; font:12px "微软雅黑", Microsoft YaHei; }
body, ul, dl, dd, p, h1, h2, h3, h4, h5, h6, form, fieldset { margin:0; padding:0; }
ul { list-style:none; }
h1, h2, h3, h4, h5, h6{ font-size:12px; }
a{ color:#fff; text-decoration:none; }
a img{ border:none; }
em, cite, th{ font-style:normal; font-weight:normal; }
table{ border-collapse:collapse; }

.dis{
  display:block;
}
.inline{
  display:inline;
}
.none{
  display:none;
}
.un a { text-decoration: underline; }
body {
  padding: 10px;
}

h1 {

  color: #9CACAF;
  font-size: 14px;
  padding: 7px 10px;
  margin: 0 0 10px 0;
  overflow:hidden;
}

h1 a:visited {
  color: #333;
}

h1 a:link {
  color: #333;
}

h1 a:hover {
  color: #EB8A3D;
}

h1 span{zoom:1;}



body, td, input, textarea, select, button {
color: #555;
font: 12px "Microsoft Yahei", "Lucida Grande", Verdana, Lucida, Helvetica, Arial, 'Simsun', sans-serif;
}
input,button,select,textarea{outline:none}
input[type="text"], input[type="password"], textarea, select, .type-file-text, .editable, .editable-tarea {
color: #333333;
background: #FAFAFA none repeat scroll 0 0;
border-style: solid;
border-width: 1px;
border-color: #ABADB3 #E2E3EA #E2E3EA #ABADB3;
}
input[type="text"], input[type="password"], textarea, select, .type-file-text, .editable, .editable2, .editable-tarea, .editable-tarea2 {
padding: 2px 4px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;
resize: none;
}

span.require-field {
    margin-left: 1em;
    font: 12px verdana;
    color: #FF0000;
}
.get_pwd { width:400px; margin:200px auto 0 auto; background:#fff; border-radius:10px; padding:20px; }
.get_pwd h3 { line-height:50px; text-align:center; font-size:18px; }
.get_pwd td { height:40px; }
.get_pwd .button { margin-right:10px; width:90px; height:30px; line-height:30px; border:none; border-radius:5px; background:#00205D; color:#fff; font-size:14px; }