*{ word-wrap:break-word; outline:none; }
body{ text-align:center; background:url(../img/bg.jpg) no-repeat center 0; }
body, td, input, textarea, select, button{ color:#555; font:14px "微软雅黑", Microsoft YaHei; }
body, ul, dl, dd, p, h1, h2, h3, h4, h5, h6, form, fieldset { margin:0; padding:0; }
ul { list-style:none; }
h1, h2, h3, h4, h5, h6{ font-size:12px; }
a{ color:#fff; text-decoration:none; }
a img{ border:none; }
em, cite, th{ font-style:normal; font-weight:normal; }
.logo { height:60px; margin:150px auto 10px auto; background:url(../img/login_logo.png) no-repeat center 0; }
.loginbox { width:646px; height:381px; margin:0 auto; padding-top:50px; background:url(../img/login_bg.png) no-repeat; position:relative; /*opacity:0.9;*/}
.loginbox h3 { font-size:36px; text-align:center; color:#fff; font-weight:400; letter-spacing:3px; }
.loginbox ul { width:350px; margin:20px auto; padding-left:35px; }
.loginbox li { margin-bottom:30px; position:relative; }
.loginbox li i { position:absolute; width:28px; height:28px; display:block; left:-40px; top:4px; }
.loginbox li i.username { background:url(../img/username.png) no-repeat; }
.loginbox li i.password { background:url(../img/password.png) no-repeat; }
.loginbox li input { width:90%; background:#bbc3d2; padding:0 5%; line-height:36px; border-radius:18px; border:none; opacity:0.7; color:#333; }
.loginbox li .signin { width:100%; color:#fff; background:#3399ff;}
#remember { float:left; width:auto; margin-left:10px; }
.loginbox li font { float:left; color:#fff; }
.copyright { position:absolute; bottom:20px; right:20px; font-family:Tahoma; font-size:12px; }
.copyright a { color:#0062ff; }


